h1 {
  font-size: 2rem;
  color: var(--dark-gray);
}

h2 {
  font-size: 1.5rem;
}
/* h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--base-black);
  margin: 10px 0;
} */
h3 {
  font-size: 1.2rem;
}

p {
  font-size: 16px;
}


ul, li {
  font-size: 14px;
}

h1, h2, h3, p, ul, li {
  color: var(--dark-gray);
}

*::placeholder {
  opacity: 0.5;
}
