:root {
  --base-white: #ffffff;
  --base-black: #000000;
  --dark-gray: #323232;
  --base-gray: #454545;
  --font-light-gray: #666666;
  --light-gray: #f5f5f5;
  --white-gray: #f0f0f0;
  --border-gray: #dddddd;
}