#contact-form {
  margin: 10rem auto;
}
table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 10px;
  text-align: left;
  width: 100px;
}

textarea {
  width: 100%;
  min-height: 5rem;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-wrapper {
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: red;
}