.footer {
  background-color: var(--base-white);
  border-top: 1px solid var(--border-gray);
  font-size: 14px;
  color: var(--base-gray);
}

.footer a {
  color: var(--base-gray);
  text-decoration: none;
}

.footer a:hover {
  color: var(--base-black);
  text-decoration: underline;
}

.copy-right-wrapper {
  margin-bottom: 1rem;
  text-align: center;
}

.copy-right-wrapper p {
  font-size: 12px;
  text-align: center;
  color: var(--font-light-gray);
}



.footer-menu {
  padding: 5rem;
  display: flex;
}

.footer-menu li {
  display: inline-block;
}
.footer-item {
  margin-right: 4rem;
}
.copy-right {
  color: var(--font-light-gray);
}
.support-wrapper a {
  display: block;
  margin-bottom: .5rem;
}

.footer-title {
  margin-bottom: 2rem;
}