header {
  background-color: #1a202c;
  height: 60px;
  width: 100%;
  color: var(--base-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header span a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--base-white);
  text-decoration: none;
}
.header ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 1rem;
}

.header li {
  text-align: center;
}

.header ul li a {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--base-white);
}
.header ul li a:hover{
  text-decoration: underline;
}

.main-menu .current_page_item > a {
  color: blue;
  padding: 1rem;
  border-bottom: 2px solid blue;
}
