header {
  background: #68d3e8;
  background: linear-gradient(90deg, rgba(104, 211, 232, 1) 0%, rgba(58, 207, 182, 1) 50%, rgba(188, 255, 112, 1) 100%);
  height: 60px;
  width: 100%;
  color: var(--base-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}



.header a {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--base-black);
  -webkit-text-fill-color:var(--base-black);
  -webkit-text-stroke:.2px var(--base-white);
}


.main-menu .current_page_item > a {
  color: blue;
  padding: 1rem;
  border-bottom: 2px solid blue;
}
